@model APL.Models.Club

<div class="container">
    <h2 class="text-white">EDIT CLUB INFO</h2>
    <div class="row text-white">
        <form method="post" asp-action="EditClub">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="clubName">CLUB NAME</label>
                <input asp-for="ClubName" type="text" class="form-control" id="clubName">
                <span asp-validation-for="ClubName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="clubNickname">CLUB NICKNAME</label>
                <input asp-for="ClubNickname" type="text" class="form-control" id="clubNickname">
                <span asp-validation-for="ClubNickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="clubCrest">CLUB CREST</label>
                <input asp-for="ClubCrest" type="text" class="form-control" id="clubCrest">
                <span asp-validation-for="ClubCrest" class="text-danger"></span>
            </div>
            @*- введення назви міста - вибір з дропдаунбокс ------------------*@
            @*<div class="form-group">
                <label for="clubTown">CLUB TOWN</label>
                <input asp-for="ClubTown" type="text" class="form-control" id="clubTown">
                <span asp-validation-for="ClubTown" class="text-danger"></span>
            </div>*@
        <div class="form-group">
            <label for="clubTown">CLUB TOWN</label>
            @*<span asp-validation-for="ClubTown" class="text-danger"></span>*@
            <select asp-for="TownId" asp-items="@ViewBag.towns" class="form-control" id="clubTown"></select>
        </div>
            @*------------------------------------------------------*@
            @*<div class="form-group">
                <label for="clubHomeStadium">CLUB HOME STADIUM</label>
                <input asp-for="ClubHomeStadium" type="text" class="form-control" id="clubHomeStadium">
                <span asp-validation-for="ClubHomeStadium" class="text-danger"></span>
            </div>*@
            @*- введення тренера - вибір зі списка ------------------*@
            <div class="form-group">
                <label for="ClubCoach">CLUB COACH</label>
                <select asp-for="CoachId" asp-items="@ViewBag.clubcoach" class="form-control" id="ClubCoach"></select>
            </div>
            @*------------------------------------------------------*@
            <div class="form-group">
                <label for="clubWebsite">CLUB WEBSITE</label>
                <input asp-for="ClubWebsite" type="text" class="form-control" id="clubWebsite">
                <span asp-validation-for="ClubWebsite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="clubDescription">CLUB DESCRIPTION</label>
                <textarea asp-for="ClubDescription" type="text" cols="70" rows="7" class="form-control" id="clubDescription"></textarea>
                <span asp-validation-for="ClubDescription" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">EDIT CLUB</button>
            <a asp-action="SingleClub" asp-controller="Clubs" asp-route-Id="@Model.Id" class="btn btn-info">BACK CLUB INFO</a>
            <a asp-action="Index" asp-controller="Clubs" class="btn btn-danger">APL CLUBS</a>
        </form>
    </div>
</div>
@* підключення скрипта для валідації інф введеної в форму AddPhone, EditPhone ... *@
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
