@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model APL.Models.Club

<h2 class="text-white">Hello Club Statistic</h2>
<h3 class="text-white">@ViewBag.test</h3>