@model APL.Models.Match

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Match</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MatchDate" class="control-label"></label>
                <input asp-for="MatchDate" class="form-control" />
                <span asp-validation-for="MatchDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeClubId" class="control-label"></label>
                <input asp-for="HomeClubId" class="form-control" />
                <span asp-validation-for="HomeClubId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayClubId" class="control-label"></label>
                <input asp-for="AwayClubId" class="form-control" />
                <span asp-validation-for="AwayClubId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TownId" class="control-label"></label>
                <select asp-for="TownId" class ="form-control" asp-items="ViewBag.TownId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StadiumId" class="control-label"></label>
                <select asp-for="StadiumId" class ="form-control" asp-items="ViewBag.StadiumId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MatchResult" class="control-label"></label>
                <input asp-for="MatchResult" class="form-control" />
                <span asp-validation-for="MatchResult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchDescription" class="control-label"></label>
                <input asp-for="MatchDescription" class="form-control" />
                <span asp-validation-for="MatchDescription" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MatchIsOver" /> @Html.DisplayNameFor(model => model.MatchIsOver)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
