@model APL.Models.Match

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-white">Edit Match info</h1>

@*<h4>Match</h4>*@
<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MatchId" />
            <div class="form-group">
                <label asp-for="MatchDate" class="control-label text-white"></label>
                <span asp-validation-for="MatchDate" class="text-danger bg-warning"></span>
                <input asp-for="MatchDate" class="form-control" />
            </div>
            <div class="form-group">
                @*+ введення клубу, що грає вдома - вибір з dropdown ++++++++++++++++++*@
                <label asp-for="HomeClubId" class="control-label text-white"></label>
                @*<input asp-for="HomeClubId" class="form-control" />*@
                <span asp-validation-for="HomeClubId" class="text-danger bg-warning"></span>
                <select asp-for="HomeClubId" asp-items="@ViewBag.clubs" class="form-control" id="homeClubId">
                    @* <option> поле для відображення інф за замовчуванням *@
                </select>
                @*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@
            </div>
            <div class="form-group">
                <label asp-for="AwayClubId" class="control-label text-white"></label>
                @*<input asp-for="AwayClubId" class="form-control" />*@
                <span asp-validation-for="AwayClubId" class="text-danger bg-warning"></span>
                <select asp-for="AwayClubId" asp-items="@ViewBag.clubs" class="form-control" id="awayClubId">
                    @* <option> поле для відображення інф за замовчуванням *@
                </select>
            </div>
            <div class="form-group">
                <label asp-for="TownId" class="control-label text-white"></label>
                <span asp-validation-for="TownId" class="text-danger bg-warning"></span>
                <select asp-for="TownId" class="form-control" asp-items="ViewBag.TownId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StadiumId" class="control-label text-white"></label>
                <span asp-validation-for="StadiumId" class="text-danger bg-warning"></span>
                <select asp-for="StadiumId" class="form-control" asp-items="ViewBag.StadiumId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MatchResult" class="control-label text-white"></label>
                <span asp-validation-for="MatchResult" class="text-danger bg-warning"></span>
                <input asp-for="MatchResult" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MatchDescription" class="control-label text-white"></label>
                <span asp-validation-for="MatchDescription" class="text-danger bg-warning"></span>
                @*<input asp-for="MatchDescription" class="form-control" />*@
                <textarea asp-for="MatchDescription" class="form-control" id="matchDescription" rows="10" placeholder="Enter a few words of description"></textarea>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label text-white">
                    <input class="form-check-input" asp-for="MatchIsOver" />
                    @*@Html.DisplayNameFor(model => model.MatchIsOver)*@
                    Match Status - Select if the match is over
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-danger">MATCHES LIST</a>
    <a class="btn btn-danger" asp-action="Details" asp-route-id="@Model.MatchId">MATCH INFO</a>
    <a asp-action="Index" asp-controller="Clubs" class="btn btn-danger">APL CLUBS</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
