@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-white">@ViewData["Title"]</h1>

@*<p>Use this page to detail your site's privacy policy.</p>*@
<h3 class="text-white">Examination work of a student of the Zhytomyr branch of the IT Step Academy</h3>
